<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
   
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                        <img src="images/about.jpeg" alt="thapa" class="img-fluid" title="anurag">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr">Backend Developer</span> 2nd Year Engineering Student</h1>
                        <a href="https://portfolio-sigma-seven-30.vercel.app/?fbclid=PAAaZ2FU_K0GhX_8PwjPZl5CIkaTBXeOpcM1rtBDLIqt172X183YadYTAItlA" target="_Anurag"><button>About me</button></a>
                    </div>
                    <!-- <div class="col-md-6 col-12 main_header_right">
                        <img src="images/about.png" alt="thapa" class="img-fluid" title="anurag">

                    </div> -->
                </div>
            </div>
        </div>
    </div>
    {{!-- <footer>
        <p>created with ❤️ by Anurag Rawat</p>
    </footer> --}}
    {{>footer}}
</body>

</html>